aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
astroid
asttokens
attrs
Babel
beautifulsoup4
bibtexparser
black
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
coverage
cycler
dataclasses-json
decorator
dill
distro
docker
exceptiongroup
executing
feedparser
Flask
fonttools
frozenlist
ghp-import
gitdb
GitPython
griffe
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
httpx-sse
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
isort
itsdangerous
jedi
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-community
langchain-core
langchain-ollama
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
Markdown
markdown-it-py
markdownify
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mccabe
mdurl
mergedeep
mkdocs
mkdocs-autorefs
mkdocs-git-authors-plugin
mkdocs-localsearch
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
msgpack
multidict
mypy-extensions
mysql-connector-python
narwhals
numpy
ollama
openai
orjson
packaging
paginate
pandas
parso
pathspec
patsy
pexpect
pillow
platformdirs
plotly
plotly-express
pluggy
portalocker
prompt_toolkit
propcache
protobuf
ptyprocess
pure_eval
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pylint
pymdown-extensions
pyparsing
pytest
pytest-asyncio
pytest-cov
python-dateutil
python-dotenv
pytz
PyYAML
pyyaml_env_tag
pyzotero
qdrant-client
referencing
regex
requests
requests-toolbelt
rich
rpds-py
scipy
seaborn
sgmllib3k
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
statsmodels
streamlit
tenacity
tiktoken
toml
tomli
tomlkit
tornado
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
watchdog
wcwidth
Werkzeug
yarl
zipp
